<a href="https://colab.research.google.com/github/neerajthandayan/CourseProject/blob/main/Notebooks/PFAEthnic_Diversity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Calculating Ethinic Diversity in Different Police Force Areas

In [ ]:
# Importing Libraries

import numpy as np
import pandas as pd

In [ ]:
# Loading Data

data = pd.read_csv('/content/drive/MyDrive/Project Data/Arrest_data.csv',header=0)
data.head(2)

             Measure  ...                                              Notes
0  Number of arrests  ...  Excludes Lancashire (both arrest and populatio...
1  Number of arrests  ...  Excludes Lancashire (both arrest and populatio...

[2 rows x 16 columns]

In [ ]:
data.columns

Index(['Measure', 'Time', 'Time_type', 'Ethnicity', 'Ethnicity_type', 'Gender',
       'Gender_type', 'Age_Group', 'Age_Group_type', 'Geography',
       'Geography_type', 'Number of arrests',
       'Population by ethnicity, gender, and PFA (based on 2011 Census)',
       'Rate per 1,000 population by ethnicity, gender, and PFA',
       'Proportion of arrests of this ethnicity, in this year, of this gender and in this police force area (excludes unreported)',
       'Notes'],
      dtype='object')

In [ ]:
data['Ethnicity_type'].unique()

array(['All', 'ONS 2001 16+1', 'ONS 2001 5+1', 'Unreported'], dtype=object)

In [ ]:
# Dropping unnecessary columns 

data.drop(columns=['Measure','Time_type','Rate per 1,000 population by ethnicity, gender, and PFA','Geography_type','Number of arrests','Gender_type','Age_Group_type',
                   'Proportion of arrests of this ethnicity, in this year, of this gender and in this police force area (excludes unreported)',
                   'Notes'], inplace=True)

In [ ]:
# Slicing Data  and renaming columns

ndata = data.loc[data['Age_Group'] == "All"]
ndata = ndata.loc[data['Gender'] == "All"]
ndata = ndata.loc[data['Ethnicity_type'] == "ONS 2001 5+1"]
ndata = ndata.loc[data['Time'] == "2018/19"]
ndata = ndata.loc[data['Geography'] != "All"]
newdata = ndata.drop(columns=['Time','Ethnicity_type','Gender','Age_Group']).copy()
newdata.rename(columns={'Population by ethnicity, gender, and PFA (based on 2011 Census)':'Population'},inplace=True)

# Droping NaN Values

newdata.dropna(inplace=True)

# Resetting Index

newdata.reset_index(inplace=True, drop=True)

In [ ]:
newdata.loc[newdata['Geography'] == 'London, City of']

Empty DataFrame
Columns: [Ethnicity, Geography, Population]
Index: []

In [ ]:
# Cleaning Population Data

c = newdata['Population'].copy()

for i in range(len(c)):
  if type(c.iloc[i]) == str:
    c.iloc[i] = c.iloc[i].replace(',','')
    c.iloc[i]= pd.to_numeric(c.iloc[i])
  else:
    continue

newdata['Population'] = c

In [ ]:
# Creating Geography Object

PFA = newdata['Geography'].unique()
PFA

array(['Avon and Somerset', 'Bedfordshire', 'Cambridgeshire', 'Cheshire',
       'Cleveland', 'Cumbria', 'Derbyshire', 'Devon and Cornwall',
       'Dorset', 'Durham', 'Dyfed-Powys', 'Essex', 'Gloucestershire',
       'Greater Manchester', 'Gwent', 'Hampshire', 'Hertfordshire',
       'Humberside', 'Kent', 'Lancashire', 'Leicestershire',
       'Lincolnshire', 'Merseyside', 'Metropolitan Police', 'Norfolk',
       'North Wales', 'North Yorkshire', 'Northamptonshire',
       'Northumbria', 'Nottinghamshire', 'South Wales', 'South Yorkshire',
       'Staffordshire', 'Suffolk', 'Surrey', 'Sussex', 'Thames Valley',
       'Warwickshire', 'West Mercia', 'West Midlands', 'West Yorkshire',
       'Wiltshire'], dtype=object)

## Calculating Ethinic Diversity

#### Here, we calculate ethnic diversity using ethno-linguistic fractionlization index (ELF)
![image.png]()

In [ ]:
# Populating Relative Population Data and Squared Relative Population

u = []

for i in PFA:
  a = newdata.loc[newdata['Geography'] == i].copy()
  a['rel_pop'] = (a['Population']/a['Population'].sum())
  for x in a['rel_pop']:
    u.append(x)

newdata['rel_pop'] = u
newdata['rl_sq'] = np.square(newdata['rel_pop'].values)

In [ ]:
# Calculating Diversity Score using EFL

Ethnic_Diversity = []

for q in PFA:
  Ethnic_Diversity.append(1 - newdata.loc[newdata['Geography'] == q]['rl_sq'].sum())

In [ ]:
# Creating DataFrame for Ethnic Diversity

mydict = {'Geography': PFA, 'Diversity_Score': Ethnic_Diversity}
fdata = pd.DataFrame.from_dict(mydict)
fdata.sort_values(by='Diversity_Score', ascending=False)

              Geography  Diversity_Score
23  Metropolitan Police         0.591174
39        West Midlands         0.470249
1          Bedfordshire         0.378451
20       Leicestershire         0.360843
40       West Yorkshire         0.314679
13   Greater Manchester         0.287564
36        Thames Valley         0.275782
16        Hertfordshire         0.228006
29      Nottinghamshire         0.207439
2        Cambridgeshire         0.181917
34               Surrey         0.179679
19           Lancashire         0.177808
31      South Yorkshire         0.176090
27     Northamptonshire         0.161460
37         Warwickshire         0.138467
18                 Kent         0.132584
11                Essex         0.129418
0     Avon and Somerset         0.128790
6            Derbyshire         0.128508
15            Hampshire         0.127584
30          South Wales         0.127046
35               Sussex         0.121159
32        Staffordshire         0.113939
4             Cleveland         0.106214
22           Merseyside         0.106096
41            Wiltshire         0.105612
28          Northumbria         0.104608
33              Suffolk         0.093088
12      Gloucestershire         0.088866
8                Dorset         0.077024
14                Gwent         0.075625
38          West Mercia         0.073212
17           Humberside         0.068955
24              Norfolk         0.068088
26      North Yorkshire         0.066865
3              Cheshire         0.060466
25          North Wales         0.049290
7    Devon and Cornwall         0.048272
21         Lincolnshire         0.047372
9                Durham         0.042831
10          Dyfed-Powys         0.039845
5               Cumbria         0.030111

In [ ]:
# Saving Ethinic Diversity CSV

fdata.to_csv('ethnic_diversity.csv')

## Creating Population Dataset

In [ ]:
popdata = newdata.drop(columns=['rel_pop','rl_sq']).copy()

In [ ]:
popdata = popdata.pivot(columns='Ethnicity',index='Geography')
popdata.columns = popdata.columns.droplevel(0)
popdata = popdata.reset_index().copy()

In [ ]:
popdata = popdata[['Geography','White','Black','Asian','Other','Mixed']]
popdata.to_csv('pop_data.csv')
popdata

Ethnicity            Geography    White    Black    Asian   Other   Mixed
0            Avon and Somerset  1491970    30923    33005   15380   28277
1                 Bedfordshire   476647    29725    81480    8753   18456
2               Cambridgeshire   726531    10174    39535   12572   16029
3                     Cheshire   995998     3264    12794    5230   10423
4                    Cleveland   526456     3156    17419    4434    5762
5                      Cumbria   492257      579     2913    1605    2504
6                   Derbyshire   949845    10090    36871    7281   14351
7           Devon and Cornwall  1627306     4106    11694    9467   15645
8                       Dorset   714637     3208    10694    5995    9507
9                       Durham   605364     1058     5114    3030    4240
10                 Dyfed-Powys   504714      856     4274    2008    3262
11                       Essex  1608308    34679    38954   15374   27635
12             Gloucestershire   569647     5150    10522    3004    8661
13          Greater Manchester  2248123    74097   246094   53504   60710
14                       Gwent   554377     3185    10076    3569    5547
15                   Hampshire  1771378    17445    57352   20911   30905
16               Hertfordshire   977495    31401    64119   15550   27497
17                  Humberside   885279     4499    12191    7493    8185
18                        Kent  1607681    22879    54186   15636   27283
19                  Lancashire  1320035     5377   108784   10397   16300
20              Leicestershire   797704    24623   155740   19110   20520
21                Lincolnshire   696484     2561     5579    2839    6190
22                  Merseyside  1305303    14552    18851   21529   20954
23         Metropolitan Police  4881636  1088447  1386619  404874  404990
24                     Norfolk   828018     4609     9809    5425   10027
25                 North Wales   670704     1497     6336    4450    4950
26             North Yorkshire   769206     3618     9914    6233    7456
27            Northamptonshire   632822    16923    22581    5444   14182
28                 Northumbria  1343747     9006    37782   17871   12447
29             Nottinghamshire   969501    27287    48248   15465   30981
30                 South Wales  1198458    12738    35804   18889   17762
31             South Yorkshire  1217653    25752    54660   24745   20791
32               Staffordshire  1032327     8551    35148    7376   14095
33                     Suffolk   693195     6854    10972    4670   12472
34                      Surrey  1023682    12430    54037   18687   23554
35                      Sussex  1505433    14246    40865   16352   30036
36               Thames Valley  1919646    69013   192541   32586   55986
37                Warwickshire   505688     4443    22747    4647    7949
38                 West Mercia  1176516     5062    21715    5657   13466
39               West Midlands  1919138   164069   493551   63498   96204
40              West Yorkshire  1819818    46476   280764   30874   48126
41                   Wiltshire   642869     6089    17379    4006    9794