<a href="https://colab.research.google.com/github/neerajthandayan/CourseProject/blob/main/Notebooks/Police%26Crime_Commisssioner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importting Libraries for Reading PDF File

!pip install tabula-py
import tabula as tb
import pandas as pd
import numpy as np

Requirement already satisfied: tabula-py in /usr/local/lib/python3.7/dist-packages (2.2.0)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.1.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.19.5)
Requirement already satisfied: distro in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.5.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)

In [2]:
# Fetching Data from Git

pcc = tb.read_pdf('https://github.com/neerajthandayan/CourseProject/raw/main/Data/Crime%26PoliceElection2012.pdf', pages=18)

In [3]:
# Creating DataFrame and slicing values
arr = np.array(pcc)
df = pd.DataFrame(arr[0])
df = df.iloc[:,:2]
df.columns = ['Geography','Party']

# Adding Met Police Party value based on the 2012 London Mayor
df = df.append({'Geography':'Metropolitan Police', 'Party':'Con'}, ignore_index=True)
df.head()

           Geography Party
0  Avon and Somerset   Ind
1       Bedfordshire   Lab
2     Cambridgeshire   Con
3           Cheshire   Con
4          Cleveland   Lab

In [4]:
# Creating Dummies

df = pd.concat([df['Geography'],pd.get_dummies(df['Party'])], axis=1)
df.head()

           Geography  Con  Ind  Lab
0  Avon and Somerset    0    1    0
1       Bedfordshire    0    0    1
2     Cambridgeshire    1    0    0
3           Cheshire    1    0    0
4          Cleveland    0    0    1

In [5]:
# Exporting csv file

df.to_csv('cpc_party.csv')